---
layout: base.njk
title: Geometric Sans
---

<style>
:root {
  --gutter: 30px;
}
@font-face {
  font-family: 'Geometric Sans';
  src: url('/fonts/GeometricSansComplete/ttf/GeometricSans-Hairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Geometric Sans';
  src: url('/fonts/GeometricSansComplete/ttf/GeometricSans-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Geometric Sans';
  src: url('/fonts/GeometricSansComplete/ttf/GeometricSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Geometric Sans';
  src: url('/fonts/GeometricSansComplete/ttf/GeometricSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Geometric Sans';
  src: url('/fonts/GeometricSansComplete/ttf/GeometricSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Geometric Sans';
  src: url('/fonts/GeometricSansComplete/ttf/GeometricSans-Heavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Geometric Sans';
  src: url('/fonts/GeometricSansComplete/ttf/GeometricSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
.marquee {
  overflow-x: hidden;
  white-space: nowrap;
  width: 100%;
  border-bottom: 1px solid #eee;
  margin-bottom: 2rem;
  position: relative;
}
.marquee-weights {
  display: inline-block;
  animation: marquee-left 130s infinite cubic-bezier(0.4,0,0.2,1);
  will-change: transform;
}
.marquee-letter {
  display: inline-block;
  margin-right: 2.2rem;
}
.marquee-weight {
  font-family: 'Geometric Sans', Arial, sans-serif;
  font-size: 101px;
  letter-spacing: 0.01em;
  color: #181818;
  display: inline-block;
  margin-right: 0.01em;
  vertical-align: bottom;
}
.marquee-weight.w100 { font-weight: 100; }
.marquee-weight.w200 { font-weight: 200; }
.marquee-weight.w400 { font-weight: 400; }
.marquee-weight.w500 { font-weight: 500; }
.marquee-weight.w700 { font-weight: 700; }
.marquee-weight.w800 { font-weight: 800; }
.marquee-weight.w900 { font-weight: 900; }
@keyframes marquee-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
</style>

<div class="marquee">
  <div class="marquee-weights">
    {% set letters = "abcdefghijklmnopqrstuvwxyz" %}
    {% for i in range(0, letters | length) %}
      <span class="marquee-letter">
        <span class="marquee-weight w100">{{ letters[i] }}</span>
        <span class="marquee-weight w200">{{ letters[i] }}</span>
        <span class="marquee-weight w400">{{ letters[i] }}</span>
        <span class="marquee-weight w500">{{ letters[i] }}</span>
        <span class="marquee-weight w700">{{ letters[i] }}</span>
        <span class="marquee-weight w800">{{ letters[i] }}</span>
        <span class="marquee-weight w900">{{ letters[i] }}</span>
      </span>
    {% endfor %}
    {# Repeat for seamless loop #}
    {% for i in range(0, letters | length) %}
      <span class="marquee-letter">
        <span class="marquee-weight w100">{{ letters[i] }}</span>
        <span class="marquee-weight w200">{{ letters[i] }}</span>
        <span class="marquee-weight w400">{{ letters[i] }}</span>
        <span class="marquee-weight w500">{{ letters[i] }}</span>
        <span class="marquee-weight w700">{{ letters[i] }}</span>
        <span class="marquee-weight w800">{{ letters[i] }}</span>
        <span class="marquee-weight w900">{{ letters[i] }}</span>
      </span>
    {% endfor %}
  </div>
</div>

// ... you can add more Geometric Sans content and sections here ... 